/*----------------------------------------------GENERELLA STILAR--------------------------------------*/
* {
  font-family: Arial, Helvetica, sans-serif;
}
.icons-container a,
.headerlink a,
.hero a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

/*----------------------------------------------HEADERLOGGA----------------------------------------------*/
.logo-container {
  display: grid;
}
.logo {
  width: 100%;
  height: auto;
}

/*-----IPAD----*/
@media (min-width: 641px) {
  .logo-container {
    display: flex;
    justify-content: left;
  }
  .logo {
    width: 50%;
  }
}

/*----------------------------------------------SÖKFUNKTION-----------------------------------------------*/
.search-container {
  width: 100%;
  position: relative;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-top: 10px;
}

.search {
  width: 100%;
  padding: 8px 30px 8px 30px;
  font-size: 1em;
  border: 2px solid #000000;
  border-radius: 20px;
}

.fa-solid.fa-magnifying-glass {
  position: absolute;
  left: 10px;
  color: #000000;
  font-size: 1em;
}

/*-----IPAD----*/
@media (min-width: 641px) {
  .search {
    width: 50%;
  }
}

/*------------------------------------HEADERIKONER/LÄNKAR-----------------------------------------*/
.icons-container a:hover,
.headerlink a:hover,
.hero a:hover {
  color: #5e0707;
}
.headerlink {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 1.1em;
}

.icons-container {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.icons-container i {
  font-size: 1.2em;
}
/*-----MOBIL----*/
@media (max-width: 640px) {
  .headerlink {
    flex-direction: column;
    align-items: flex-start;
  }
}

/*-----IPAD----*/
@media (min-width: 641px) {
  .headerlink a {
    flex-direction: row;
  }
  .icons-container {
    font-size: 1.5em;
  }
}
@media (min-width: 1024px) {
  .headerlink a {
    font-size: 1.5em;
  }
  .icons-container {
    font-size: 2em;
  }
}
/*------------------------------------------------HERO---------------------------------------------------*/
.hero {
  border: solid black 3px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.hero a {
  font-size: 3em;
  text-decoration: none;
  margin-bottom: 50px;
  text-align: center;
}
.hero img {
  height: auto;
  width: 95%;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 641px) {
  .hero a {
    font-size: 4em;
  }
}
@media (min-width: 1024px) {
  .hero {
    flex-direction: row-reverse;
  }
  .hero img {
    width: 60%;
    padding: 20px;
  }
  .hero a {
    font-size: 4em;
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
}
/*----------------------------------------------SPOTBILDER-------------------------------------------*/
.spotbilder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
.spotbilder img {
  width: 100%;
  height: auto;
}
.bild-container {
  position: relative;
  display: grid;
  gap: 15px;
}
.text-ett,
.text-två,
.text-tre {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: rgb(0, 0, 0);
  padding: 5px;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  transition: color 0.3s ease;
  cursor: pointer;
}

.text-ett:hover,
.text-två:hover,
.text-tre:hover {
  color: rgb(112, 5, 5);
}
/*-----MOBIL----*/
@media (max-width: 640px) {
  .spotbilder {
    display: none;
  }
}

/*-----IPAD----*/
@media (min-width: 641px) {
  .spotbilder {
    display: none;
  }
}

/*-----DATOR----*/
@media (min-width: 1024px) {
  .spotbilder {
    display: grid;
  }
}
@media (min-width: 1200px) {
  .text-ett,
  .text-två,
  .text-tre {
    font-size: 4em;
  }
}
/*----------------------------------------------PRODUKTBILDER-------------------------------------------*/

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-bottom: 50px;
}

.product {
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  position: relative;
}

.product img {
  width: 100%;
  height: auto;
  display: block;
}
.product-grid i {
  position: absolute;
  bottom: 65px;
  right: 15px;
  color: rgb(255, 255, 255);
  font-size: 2em;
  z-index: 1;
}

.product-grid a i.fa-heart,
.icons-container a i.fa-heart {
  transition: transform 0.3s ease;
}

.product-grid a:hover i.fa-heart,
.icons-container a:hover i.fa-heart {
  transform: scale(1.5);
  color: rgb(120, 42, 42);
}

.product-info {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
  text-align: left;
  margin-top: 10px;
  font-size: 1.5em;
}

.product-name-price {
  display: grid;
  grid-template-columns: 1fr auto;
  font-weight: bold;
  font-size: 0.8em;
}

.product-price {
  justify-self: end;
}

.product-brand {
  font-size: 0.7em;
}
.badge-container {
  position: relative;
  width: 100%;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 2em;
}
/*-----MOBIL----*/
@media (max-width: 640px) {
  .product {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/*-----IPAD----*/
@media (min-width: 641px) {
  .product {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

/*-----DATOR----*/
@media (min-width: 1024px) {
  .product {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
  }
  .product-name-price {
    font-size: 1.1em;
  }
  .product-brand {
    font-size: 1em;
  }
  .product-grid i {
    bottom: 85px;
  }
}
/*----------------------------------------------PRODUKTSIDA-------------------------------------------*/
.productsida-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.productsida-grid i {
  position: absolute;
  bottom: 40px;
  right: 10px;
  color: rgb(255, 255, 255);
  font-size: 2em;
  z-index: 1;
}

.productsida-grid a i.fa-heart,
.icons-container a i.fa-heart {
  transition: transform 0.3s ease;
}

.productsida-grid a:hover i.fa-heart,
.icons-container a:hover i.fa-heart {
  transform: scale(1.5);
  color: rgb(120, 42, 42);
}
.product-sida {
  position: relative;
}
.product-sida img {
  width: 100%;
  height: auto;
}

.product-sida .fa-heart {
  position: absolute;
  bottom: 40px;
  right: 25px;
  font-size: 2em;
  color: rgb(255, 255, 255);
  z-index: 10;
  transition: transform 0.3s ease;
}

.product-sida .fa-heart:hover {
  transform: scale(1.5);
  color: rgb(120, 42, 42);
}

.product-sida-name {
  font-weight: bold;
  font-size: 1.5em;
}

.product-sida-brand {
  color: #000000;
  font-size: 1.2em;
}

.pris {
  text-align: left;
  font-size: 1.5em;
}

.lorem {
  font-size: 1em;
  text-align: left;
}
.button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: #929292;
}

@media (max-width: 640px) {
  .lorem {
    text-align: left;
  }
}
/*-----IPAD----*/
@media (min-width: 641px) {
  .productsida-grid {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    cursor: pointer;
  }

  .product-sida {
    flex: 1;
    max-width: 50%;
  }

  .product-details {
    flex: 1;
    max-width: 100%;
    text-align: left;
  }

  .lorem,
  .pris,
  .varukorg {
    text-align: left;
  }
}

/*-----DATOR----*/
@media (min-width: 1024px) {
  .product-details {
    display: flex;
    flex-direction: column;
  }
  .productsida-grid {
    display: flex;
  }
}

/*---------------------------------PRODUKTSIDA - SLIDEDHOW-------------------------------------------*/

.slider h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.8em;
  font-weight: bold;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 15px;
}

.slides {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.slide a {
  text-decoration: none;
}

.slide a img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

input[type="radio"] {
  display: none;
}

#slide1:checked ~ .slides {
  transform: translateX(0);
}

#slide2:checked ~ .slides {
  transform: translateX(-33.33%);
}

#slide3:checked ~ .slides {
  transform: translateX(-66.66%);
}

.nav-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

#slide1:checked ~ .nav-container .nav:nth-child(1),
#slide2:checked ~ .nav-container .nav:nth-child(2),
#slide3:checked ~ .nav-container .nav:nth-child(3) {
  background-color: #000000;
}

/*-----MOBIL----*/
@media (max-width: 640px) {
  .slider {
    display: none;
  }
}
/*------------------------------------------------KASSAN-------------------------------------------------*/
.kassa {
  text-align: center;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-kassa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.7em;
}

.product-info-kassa {
  display: flex;
  flex-direction: column;
}

.unit-price {
  font-size: 0.8em;
  color: gray;
  margin-top: 5px;
}

.total-price {
  font-weight: bold;
  font-size: 1.2em;
}

.product-table {
  display: none;
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  border: 1px solid #000;
  padding: 10px;
  text-align: left;
}
.product-table th {
  background-color: grey;
}
.titel {
  font-weight: bold;
}
.kunduppgifter {
  margin-top: 30px;
  font-size: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
}

.adress {
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #000;
}
#email {
  width: 45%;
}
#fornamn,
#efternamn {
  width: 91%;
}
.button-kassa {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: 1px solid #000;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-group {
  text-align: left;
}

@media (min-width: 641px) {
  .kassa {
    width: 80%;
    margin: 0 auto;
  }
  .titel {
    text-align: left;
    font-size: 1.1em;
  }
  .kunduppgifter {
    display: grid;

    gap: 30px;
    text-align: left;
  }

  .name-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
  }

  .product-table {
    display: table;
    margin: 20px auto;
  }

  .product-list {
    display: none;
  }
}

@media (min-width: 1024px) {
  .kassa {
    width: 80%;
    font-size: 2em;
  }
  .kunduppgifter {
    gap: 30px;
  }

  .button-kassa {
    font-size: 1.2em;
    width: 300px;
  }
  .form-group input {
    padding: 30px;
  }
}

/*-------------------------------------------------FOOTER-------------------------------------------------*/

footer {
  width: 100%;
  margin: 0;
  padding-left: 20px;
  background-color: rgb(156, 147, 147);
  position: relative;
  z-index: 1;
  margin-top: 30px;
  box-sizing: border-box;
}
.footericon-container {
  display: grid;
  gap: 20px;
  align-items: center;
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.footericon-info {
  display: flex;
  align-items: center;
}

.footericon-info i {
  margin-right: 10px;
}

.footericon-info p {
  margin: 0;
}
.footerinfo {
  display: flex;
  gap: 35px;
  margin: 0;
}

.footerinfo div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerinfo p {
  font-weight: bold;
  font-size: 1em;
}

.footerinfo a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.footerinfo a:hover {
  text-decoration: underline;
}
.copyright {
  color: #000000;
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 10px;
}
/*-----MOBIL----*/
@media (max-width: 640px) {
  .footericon-container {
    margin-top: 65px;
    grid-template-columns: repeat(1, 1fr);
  }
  .footerinfo {
    display: none;
  }
}
@media (min-width: 641px) {
  .footericon-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .footericon-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    justify-items: center;
  }
}
@media (min-width: 1200px) {
  .footerinfo {
    font-size: 2em;
  }
  .footericon-info {
    font-size: 2em;
  }
  .copyright {
    font-size: 1.1em;
  }
}
/*------------------------------------------------ACCORDION-----------------------------------------------*/

.accordion {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.accordion-item {
  border-bottom: 1px solid rgb(119, 117, 117);
}
.accordion-checkbox {
  display: none;
}
.accordion-checkbox:checked + .accordion-button + .accordion-body {
  max-height: none;
}

.accordion-button {
  background-color: rgb(156, 147, 147);
  font-size: 1rem;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  display: grid;
  padding-bottom: 10px;
}

.accordion-button:hover {
  background-color: #686565;
}

.accordion-body {
  width: 100%;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  background-color: rgb(156, 147, 147);
}

.accordion-body a {
  display: block;
  margin-top: 10px;
  color: #000000;
  text-decoration: none;
}

.accordion-body a:hover {
  text-decoration: underline;
}

/*-----IPAD----*/
@media (min-width: 641px) {
  .accordion {
    display: none;
  }
}
