/*------------------------------------------ALLMÄN STYLING--------------------------------------------*/

/*----------------------------------------------HEADERLOGGA----------------------------------------------*/
.logo-container {
  display: grid;
}

.logo {
  width: 100%;
  height: auto;
  margin-left: 0px;
}
.logo-full {
  width: 70%;
  margin-left: 0px;
}
/*----------------------------------------------SÖKFUNKTION-----------------------------------------------*/
.search-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.search {
  width: 100%;
  padding: 8px 30px 8px 25px;
  font-size: 14px;
  border: 2px solid #000000;
  border-radius: 20px;
}

.fa-solid.fa-magnifying-glass {
  position: absolute;
  left: 10px;
  color: #000000;
  font-size: 14px;
}
/*----------------------------------------------HEADERIKONER-----------------------------------------*/
.icons-container a {
  color: black;
}
.icons-container a:hover,
.headerlink a:hover,
.hero a:hover {
  color: #5e0707;
}
.headerlink {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.headerlink a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/*------------------------------------------------HERO---------------------------------------------------*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.hero a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}
.hero img {
  width: 100%;
  height: auto;
}
/*----------------------------------------------SPOTBILDER-------------------------------------------*/
.bild-container {
  position: relative;
  display: grid;
  gap: 15px;
  margin-top: 25px;
}

.bild-container img {
  width: 100%;
  height: auto;
}

.text-ett:hover,
.text-två:hover,
.text-tre:hover {
  color: rgb(112, 5, 5);
}

/*----------------------------------------------PRODUKTBILDER-------------------------------------------*/

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.product {
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  position: relative;
}

.product img {
  width: 100%;
  height: auto;
  display: block;
}
.product-grid i {
  position: absolute;
  bottom: 55px;
  right: 10px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  z-index: 1;
}

.product-grid a i.fa-heart,
.icons-container a i.fa-heart {
  transition: transform 0.3s ease;
}

.product-grid a:hover i.fa-heart,
.icons-container a:hover i.fa-heart {
  transform: scale(1.5);
  color: rgb(120, 42, 42);
}

.product-info {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
  text-align: left;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

.product-name-price {
  display: grid;
  grid-template-columns: 1fr auto;
}

.product-name {
  font-weight: bold;
}

.product-price {
  font-weight: bold;
  color: #000;
  justify-self: end;
}

.product-brand {
  font-size: 14px;
  color: #000000;
}

.badge-container {
  position: relative;
  width: 100%;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
/*----------------------------------------------PRODUKTSIDA-------------------------------------------*/
.productsida-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-sida img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-sida-name {
  font-weight: bold;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.product-sida-brand {
  color: #000000;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.pris {
  text-align: left;
  margin-top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.lorem {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-align: center;
}
.varukorg button {
  display: grid;
  width: 100%;
  color: #000;
  background-color: white;
  font-size: 20px;
}
.slideshow-container {
  overflow: hidden; /* Döljer bilder som inte syns */
  width: 100%; /* Anpassa bredden */
  margin: 20px auto;
}

.slideshow-wrapper {
  display: flex;
  scroll-snap-type: x mandatory; /* Gör så att bilderna snäpper när du scrollar */
  overflow-x: auto; /* Möjliggör horisontell scroll */
  scroll-behavior: smooth; /* Mjuk scroll */
}

.slide {
  min-width: 33.33%; /* Tre bilder visas samtidigt */
  box-sizing: border-box;
  scroll-snap-align: start; /* Snäpper till början av varje bild */
  text-align: center;
  padding: 10px;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.slide a:hover {
  text-decoration: underline;
}
.slideshow-container p {
  font-size: 25px;
  text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-transform: capitalize;
font-weight: bold;
}
/*-------------------------------------------------FOOTER-------------------------------------------------*/
.footer {
  width: 100vw;
  background-color: #aaa5a5;
  padding: 20px 0;
  position: relative;
  z-index: 1;
  margin-top: 20px;
}
.footericon-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  text-align: left;
  margin-left: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footericon-info {
  display: flex;
  align-items: left;
  justify-content: left;
}

.footericon-info i {
  margin-right: 10px;
}

.footericon-info p {
  margin: 0;
}
.footerinfo {
  display: flex;
  gap: 40px;
  padding: 10px;
  background-color: #f8f8f8;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footerinfo div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerinfo p {
  font-weight: bold;
  font-size: 30px;
}

.footerinfo a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.footerinfo a:hover {
  text-decoration: underline;
}
.copyright {
  text-align: center;
  color: #000000;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 20px 0;
  margin-bottom: 10px;
}
/*------------------------------------------------ACCORDION-----------------------------------------------*/

.accordion {
  padding-top: 30px;
  width: 90%;
  margin-left: 10px;
}

.accordion-item {
  border-bottom: 1px solid #ffffff;
}

.accordion-checkbox {
  display: none;
}
.accordion-checkbox:checked + .accordion-button + .accordion-body {
  max-height: 200px;
  padding: 10px;
}

.accordion-button {
  background-color: #a5a2cb;
  padding: 10px;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  display: grid;
}

.accordion-button:hover {
  background-color: #3983ce;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  background-color: #f8f9fa;
}
.accordion-body a {
  display: block;
  margin-top: 10px;
  color: #000000;
  text-decoration: none;
}

.accordion-body a:hover {
  text-decoration: underline;
}

.button button {
  margin-left: 100px;
  place-items: center;
  color: rgb(0, 0, 0);
  background-color: white;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}
/* -------------------------------------------ADMINISTRATIONS SIDA, INDEX--------------------------------*/
.header {
  background-color: rgb(167, 167, 167);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sidebar {
  background-color: #ddd;
  height: 100vh;

  position: fixed;
  top: 57px;
  left: 8px;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  padding: 10px;
  font-family: Arial, sans-serif;
}
.produktknapp {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
  text-align: left;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

.produktknapp {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.produktrubrik {
  font-weight: bold;
  font-size: 16px;
}

.add-product-btn {
  background-color: #000000;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.add-product-btn:hover {
  background-color: #45a049;
}

.main-content {
  margin-left: 110px;
}

.main-content h2 {
  margin-bottom: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.add-product-btn {
  display: inline-block;
  margin-top: 20px;
  margin-left: 120px;
  padding: 10px 10px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.add-product-btn:hover {
  background-color: #45a049;
}

/*--------------------------0-640px-------------------MOBIL-----------------------------------------------*/

@media (max-width: 640px) {
  .logo {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .icons-container {
    display: flex;
    gap: 10px;
    padding-left: 10px;
  }

  .search-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin-bottom: 15px;
  }

  .search {
    width: 70%;
    padding: 10px 40px 10px 35px;
    font-size: 20px;
    border: 3px solid #000000;
    border-radius: 20px;
  }

  .fa-solid.fa-magnifying-glass {
    font-size: 20px;
    position: absolute;
    left: 10px;
    color: black;
  }

  .icons-container i {
    font-size: 30px;
  }
  .headerlink {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .headerlink a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .hero {
    display: grid;
    padding: 15px;
    width: 90%;
    font-size: 35px;
    border: solid black;
    border-radius: 20px;
  }

  .hero img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .product {
    flex: 1 1 100% !important;
    max-width: 100% !important;
  }
  .product-grid i {
    position: absolute;
    bottom: 80px !important;
    right: 15px;
    color: rgb(255, 255, 255);
    font-size: 30px !important;
  }

  .product-grid a i.fa-heart,
  .icons-container a i.fa-heart {
    transition: transform 0.3s ease;
  }

  .product-grid a:hover i.fa-heart,
  .icons-container a:hover i.fa-heart {
    transform: scale(1.5);
    color: rgb(120, 42, 42);
  }

  .product-info {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
    text-align: left;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 25px;
  }

  .product-name-price {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .product-name {
    font-weight: bold;
  }

  .product-price {
    font-weight: bold;
    color: #000;
    justify-self: end;
  }

  .product-brand {
    font-size: 16px !important;
    color: #000000;
    font-size: 30px;
  }

  .badge-container {
    position: relative;
    width: 100%;
  }
  .slideshow-container {
    display: none;
  }
  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
  }
  .footer {
    width: 100vw;
    background-color: #aaa5a5;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    margin-top: 20px;
  }
  .footericon-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    text-align: left;
    margin-left: 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .footericon-info {
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .footericon-info i {
    margin-right: 10px;
  }

  .footericon-info p {
    margin: 0;
  }
  .copyright {
    text-align: center;
    color: #000000;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    margin-bottom: 10px;
  }
  .spotbilder {
    display: none;
  }
  .footerinfo {
    display: none;
  }
}
/*--------------------------640px-1024px-----------------------------IPAD--------------------------------*/

@media (min-width: 640px) {
  .logo-container {
    display: flex;
    align-items: left;
  }
  .logo {
    width: 50%;
    margin-left: 0px;
    margin-right: 20px;
  }
  .icons-container {
    display: flex;
    gap: 10px;
    margin-left: 60px;
    font-size: 35px;
  }

  .search-container {
    width: 45%;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .search {
    font-size: 25px;
    margin-left: 5px;
  }
  .fa-solid.fa-magnifying-glass {
    font-size: 25px;
    position: absolute;
    color: black;
  }
  .headerlink a {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid black 5px;
    border-radius: 10px;
    padding: 0;
    width: 100%;
  }

  .hero a {
    font-size: 50px;
  }
  .spotbilder {
    display: none;
  }
  .product {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
  .product-grid i {
    position: absolute;
    bottom: 70px;
    right: 15px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    z-index: 1;
  }

  .product-grid a i.fa-heart,
  .icons-container a i.fa-heart {
    transition: transform 0.3s ease;
  }

  .product-grid a:hover i.fa-heart,
  .icons-container a:hover i.fa-heart {
    transform: scale(1.5);
    color: rgb(120, 42, 42);
  }

  .product-info {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
    text-align: left;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 25px;
  }

  .product-name-price {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .product-name {
    font-weight: bold;
  }

  .product-price {
    font-weight: bold;
    color: #000;
    justify-self: end;
  }

  .product-brand {
    color: #000000;
    font-size: 20px;
  }
  .productsida-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-direction: row; /* Lägger bild och text bredvid varandra */
  }

  .product-sida {
    flex: 1; /* Ger bilden utrymme */
    max-width: 50%; /* Bilden ska ta upp halva bredden */
  }

  .product-details {
    flex: 1; /* Text, pris och knapp får resten av utrymmet */
    max-width: 45%;
    text-align: left; /* Vänsterjustera texten */
  }

  .product-sida img {
    max-width: 100%; /* Gör så att bilden anpassar sig till den nya flex-layouten */
    height: auto;
  }

  .lorem,
  .pris,
  .varukorg {
    text-align: left; /* För att vänsterjustera texten i textområdet */
  }

  /* Badge-layout */
  .badge-container {
    position: relative;
    width: 100%;
  }

  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 30px;
  }
  .footer {
    width: 100vw;
    background-color: #aaa5a5;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    margin-top: 20px;
  }
  .footericon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    text-align: left;
    margin-left: 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .footericon-info {
    display: flex;
    align-items: left;
    justify-content: left;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .footericon-info i {
    margin-right: 10px;
  }

  .footericon-info p {
    margin: 0;
  }
  .footerinfo {
    display: flex;
  }
  .footerinfo {
    display: flex;
    gap: 40px;
    font-size: 16px;
    padding: 10px;
    background-color: #f8f8f8;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .footerinfo div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footerinfo p {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
  }

  .footerinfo a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  .footerinfo a:hover {
    text-decoration: underline;
  }
  .copyright {
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    margin-bottom: 10px;
  }
  .accordion {
    display: none;
  }
}

/*------------------------------1024px ---> ---------------------DESKTOP----------------------------------*/
@media (min-width: 1024px) {
  .search-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-top: 15px;
  }

  .search {
    width: 100%;
    padding: 15px 30px 15px 30px;
    font-size: 25px;
    border: 2px solid #000000;
    border-radius: 20px;
    margin-left: 20px;
  }

  .fa-solid.fa-magnifying-glass {
    position: absolute;
    left: 25px;
    pointer-events: none;
    color: #000000;
    font-size: 25px;
  }
  .icons-container {
    display: flex;
    gap: 10px;
    margin-left: 80px;
  }

  .icons-container i {
    font-size: 50px;
    color: #000;
    cursor: pointer;
  }

  .icons-container i:hover {
    color: #807d7d;
  }

  .headerlink {
    margin-top: 10px;
    margin-left: 10px;
  }

  .headerlink a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  .hero {
    border: solid black 10px;
    border-radius: 50px;
    padding: 0;
    width: 95%;
  }
  .hero a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
  }
  .hero img {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .spotbilder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
  }

  .spotbilder img {
    width: 100%;
    height: auto;
  }

  .text-ett,
  .text-två,
  .text-tre {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  .spotbilder:hover .text {
    color: rgb(132, 5, 5);
  }

  .product {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin-top: 40px;
  }
  .product-grid i {
    position: absolute;
    bottom: 60px;
    right: 15px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    z-index: 1;
  }

  .product-grid a i.fa-heart,
  .icons-container a i.fa-heart {
    transition: transform 0.3s ease;
  }

  .product-grid a:hover i.fa-heart,
  .icons-container a:hover i.fa-heart {
    transform: scale(1.5);
    color: rgb(120, 42, 42);
  }

  .product-info {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
    text-align: left;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
  }

  .product-name-price {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .product-name {
    font-weight: bold;
  }

  .product-price {
    font-weight: bold;
    color: #000;
    justify-self: end;
  }

  .product-brand {
    font-size: 14px;
    color: #000000;
    font-size: 15px;
  }

  .badge-container {
    position: relative;
    width: 100%;
  }

  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 30px;
  }
  .footer {
    width: 100vw;
    background-color: #aaa5a5;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    margin-top: 20px;
  }
  .footericon-container {
    display: flex;
    gap: 15px;
    font-size: 23px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    text-align: left;
    margin-left: 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .footericon-info {
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .footericon-info i {
    margin-right: 10px;
  }

  .footericon-info p {
    margin: 0;
  }
  .copyright {
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    margin-bottom: 10px;
  }
}

/*------------------------------1200px ---> ---------------------DESKTOP----------------------------------*/
@media (min-width: 1200px) {
  .search-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-top: 15px;
  }

  .search {
    width: 100%;
    padding: 15px 30px 15px 30px;
    font-size: 25px;
    border: 2px solid #000000;
    border-radius: 20px;
    margin-left: 20px;
  }

  .fa-solid.fa-magnifying-glass {
    position: absolute;
    left: 25px;
    pointer-events: none;
    color: #000000;
    font-size: 25px;
  }
  .icons-container {
    display: flex;
    gap: 10px;
    margin-left: 80px;
  }

  .icons-container i {
    font-size: 50px;
    color: #000;
    cursor: pointer;
  }

  .icons-container i:hover {
    color: #807d7d;
  }

  .headerlink {
    margin-top: 10px;
    margin-left: 10px;
  }

  .headerlink a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  .hero {
    border: solid black 10px;
    border-radius: 50px;
    padding: 0;
    width: 95%;
  }
  .hero a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
  }
  .hero img {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .spotbilder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
  }

  .spotbilder img {
    width: 100%;
    height: auto;
  }

  .text-ett,
  .text-två,
  .text-tre {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  .spotbilder:hover .text {
    color: rgb(132, 5, 5);
  }

  .product {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin-top: 40px;
  }
  .product-grid i {
    position: absolute;
    bottom: 60px;
    right: 15px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    z-index: 1;
  }

  .product-grid a i.fa-heart,
  .icons-container a i.fa-heart {
    transition: transform 0.3s ease;
  }

  .product-grid a:hover i.fa-heart,
  .icons-container a:hover i.fa-heart {
    transform: scale(1.5);
    color: rgb(120, 42, 42);
  }

  .product-info {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
    text-align: left;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
  }

  .product-name-price {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .product-name {
    font-weight: bold;
  }

  .product-price {
    font-weight: bold;
    color: #000;
    justify-self: end;
  }

  .product-brand {
    font-size: 14px;
    color: #000000;
    font-size: 15px;
  }

  .badge-container {
    position: relative;
    width: 100%;
  }

  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 30px;
  }
  .footer {
    align-items: ;
    width: 100vw;
    background-color: #aaa5a5;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    margin-top: 20px;
  }
  .footericon-container {
    display: flex;
    gap: 5px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .footericon-info {
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .footericon-info i {
    margin-right: 10px;
  }

  .footericon-info p {
    margin: 0;
  }
  .copyright {
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    margin-bottom: 10px;
  }
}
