/*----------------------------------------------GENERELLA STILAR--------------------------------------*/
* {
    font-family: Arial, Helvetica, sans-serif;
  }
  .icons-container a,
  .headerlink a,
  .hero a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  /*----------------------------------------------HEADERLOGGA----------------------------------------------*/
  .logo-container a {
    display: grid;
  }
  .logo  {
    width: 100%;
    height: auto;
  }
  
  /*-----IPAD----*/
  @media (min-width: 641px) {
    .logo-container {
      display: flex;
      justify-content: left;
    }
  }
  
  /*----------------------------------------------SÖKFUNKTION-----------------------------------------------*/
  .search-container {
    width: 100%;
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-top: 0.7em;
  }
  
  .search {
    width: 100%;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 1em;
    border: 2px solid #000000;
    border-radius: 2em;
  }
  
  .fa-solid.fa-magnifying-glass {
    position: absolute;
    left: 0.8em;
    color: #000000;
    font-size: 1em;
  }
  
  /*-----IPAD----*/
  @media (min-width: 641px) {
    .search {
      width: 50%;
    }
  }
  @media (min-width: 2000px) {
    .search {
      padding: 1em 4em 1em 2.5em;
      font-size: 1.5em;
      border: 3px solid black;
      border-radius: 2em;
    }
    .fa-solid.fa-magnifying-glass {
      font-size: 1.5em;
    }
  }
  
  /*------------------------------------HEADERIKONER/LÄNKAR-----------------------------------------*/
  .icons-container a:hover,
  .headerlink a:hover,
  .hero a:hover {
    color: #5e0707;
  }
  .headerlink {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 0.2em;
    margin-left: 1em;
    margin-bottom: 0.9em;
    font-size: 1rem;
  }
  
  .icons-container {
    display: flex;
    gap: 0.6em;
    margin-left: 0.6em;
    margin-right: 0.6em;
  }
  .icons-container i {
    font-size: 1.2em;
  }
  /*-----MOBIL----*/
  @media (max-width: 640px) {
    .headerlink {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  /*-----IPAD----*/
  @media (min-width: 641px) {
    .headerlink a {
      flex-direction: row;
    }
    .icons-container {
      font-size: 1.5em;
    }
  }
  @media (min-width: 1024px) {
    .headerlink a {
      font-size: 1.5em;
    }
    .icons-container {
      font-size: 2em;
    }
  }
  /*----------------------------------------------PRODUKTBILDER-------------------------------------------*/

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
    margin-bottom: 5em;
  }
  
  .product {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    position: relative;
  }
  
  .product img {
    width: 100%;
    height: auto;
    display: block;
  }
  .product-grid i {
    position: absolute;
    bottom: 3.4em;
    right: 0.6em;
    color: rgb(255, 255, 255);
    font-size: 2em;
    z-index: 1;
  }
  
  .product-grid a i.fa-heart,
  .icons-container a i.fa-heart {
    transition: transform 0.3s ease;
  }
  
  .product-grid a:hover i.fa-heart,
  .icons-container a:hover i.fa-heart {
    transform: scale(1.5);
    color: rgb(120, 42, 42);
  }
  
  .product-info {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 0.3em;
    text-align: left;
    margin-top: 1em;
    font-size: 2rem;
  }
  
  .product-name-price {
    display: grid;
    grid-template-columns: 1fr auto;
    font-weight: bold;
    font-size: 0.8em;
  }
  
  .product-price {
    justify-self: end;
    text-decoration: line-through;
  }
  
  .product-brand {
    font-size: 0.7em;
  }
  .badge-container {
    position: relative;
    width: 100%;
  }
  
  .badge {
    position: absolute;
    top: 0.5em;
    left: 0.3em;
    background-color: rgb(172, 0, 0);
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 50%;
    font-size: 3rem;
  }
  /*-----MOBIL----*/
  @media (max-width: 640px) {
    .product {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  
  /*-----IPAD----*/
  @media (min-width: 641px) {
    .product {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }
  
  /*-----DATOR----*/
  @media (min-width: 1024px) {
    .product {
      flex: 1 1 calc(25% - 20px);
      max-width: calc(25% - 20px);
    }
  }
  /*-------------------------------------------------FOOTER-------------------------------------------------*/

footer {
    width: 100%;
    margin: 0;
    background-color: rgb(156, 147, 147);
    position: relative;
    z-index: 1;
    margin-top: 2em;
    box-sizing: border-box;
  }
  
  .footericon-container {
    display: grid;
    gap: 1.5em;
    align-items: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
  }
  
  .footericon-info {
    display: flex;
    align-items: center;
  }
  
  .footericon-info i {
    margin-right: 10px;
  }
  
  .footericon-info p {
    margin: 0;
  }
  
  .footerinfo {
    display: flex;
    gap: 2.1em;
    margin: 0;
  }
  
  .footerinfo div {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }
  
  .footerinfo p {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .footerinfo a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }
  
  .footerinfo a:hover {
    text-decoration: underline;
  }
  
  .copyright {
    color: #000000;
    font-size: 1rem;
    text-align: center;
    padding: 0.8em 0;
    background-color: rgb(156, 147, 147);
  }
  
  /*-----MOBIL----*/
  @media (max-width: 640px) {
    footer {
      background-color: white;
    }
  
    .footericon-container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .footerinfo {
      display: none;
    }
  
    .copyright {
      background-color: white;
    }
  }
  
  /*-----IPAD----*/
  @media (min-width: 641px) {
    .footericon-container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      margin-left: 20%;
    }
  }
  
  @media (min-width: 1024px) {
    .footericon-container {
      grid-template-columns: repeat(4, 1fr);
      margin: 0;
      justify-items: center;
    }
  }
  
  @media (min-width: 1200px) {
    .footerinfo {
      font-size: 1.5rem;
    }
  
    .footericon-info {
      font-size: 1.5em;
    }
  
    .copyright {
      font-size: 1.2rem;
    }
  }
  @media (min-width: 2000px) {
    .footerinfo a {
      font-size: 1.3rem;
    }
    .footerinfo p {
      font-size: 1.3rem;
    }
    .copyright {
      font-size: 1.2rem;
    }
  }
  
  /*------------------------------------------------ACCORDION-----------------------------------------------*/
  
  .accordion {
    padding-top: 0.5em;
    padding-bottom: 10px;
    width: 100%;
  }
  
  .accordion-item {
    border-bottom: 1px solid rgb(119, 117, 117);
    border-top: 1px solid rgb(119, 117, 117);
    padding-bottom: 0.1em;
    padding-top: 0.1em;
  }
  .accordion-checkbox {
    display: none;
  }
  .accordion-checkbox:checked + .accordion-button + .accordion-body {
    max-height: none;
  }
  
  .accordion-button {
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
    display: grid;
    padding-bottom: 0.5em;
    padding-top: 0.3em;
  }
  
  .accordion-button:hover {
    background-color: #6a85b6;
  }
  
  .accordion-body {
    width: 100%;
  
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    background-color: rgb(255, 248, 248);
  }
  
  .accordion-body a {
    display: block;
    margin-top: 0.8em;
    color: #000000;
    text-decoration: none;
  }
  
  .accordion-body a:hover {
    text-decoration: underline;
  }
  
  /*-----IPAD----*/
  @media (min-width: 641px) {
    .accordion {
      display: none;
    }
  }
  